@model eCommerceApp.Models.Product
<div class="container mt-5">
    <div class="row">

        <div class="col-md-9 ">
            <div class="card mb-3">
                @{
                    String img64 = Convert.ToBase64String(Model.Image);
                    String img64url = string.Format("data:Image/" + Model.Image + ";base64,{0}", img64);
                }
                <img src="@img64url" class="card-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <partial name="_FeatureProducts" model="Model" />
        </div>
    </div>
</div>