<div class="container">
    <div class="d-flex mb-3 mt-1 border">
        <div class="mr-auto p-2">
            <select class="custom-select mr-sm-5 custom-select-sm overflow-auto" id="inlineFormCustomSelect">
                <option selected>All Categories</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="p-2">
            <div class="form-row">
                <div class="col-10">
                    <input type="text" class="form-control form-control-sm" placeholder="Search">
                </div>
                <button class="btn btn-success btn-sm"><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-info btn-sm"><i class="fas fa-refresh"></i>Reset</button>
        </div>
    </div>
</div>