<div class="container pb-5">
    <div class="row border mt-5">
        <div class="col-md-8">
            <h1 class="mt-5">Your cart: Items</h1>
            <div class="d-flex shadow-sm">
                <div class="p-2 flex-fill">
                    <label>Image</label>
                </div>
                <div class="p-2 flex-fill">
                    <label>Price</label>
                </div>
                <div class="p-2 flex-fill">
                    <label>Quantity</label>
                </div>
                <div class="p-2 float-right">
                    <label>Total</label>
                </div>
            </div>
            <div class="d-flex shadow-sm">
                <div class="p-2 flex-fill">
                    <label class="control-label"></label>
                </div>
                <div class="p-2 flex-fill">
                    <label class="control-label"></label>
                </div>
                <div class="p-2 flex-fill">
                    <label class="control-label"></label>
                </div>
                <div class="p-2 float-right">
                    <label class="control-label"></label>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column float-right mt-5">
                <div class="p-2 flex-fill">Sub total: <span class="ml-5 float-right">$50</span></div>
                <div class="p-2 flex-fill">Tax: <span class="ml-5 float-right">$50</span></div>
                <div class="p-2 shadow-sm">Delivery: <span class="ml-5 float-right">$50</span></div>
                <div class="p-2">Grand total: <span class="ml-5 float-right">$50</span></div>
                <div class="btn btn-success mb-2 mt-2">Check out</div>
            </div>
        </div>
    </div>
</div>