@model eCommerceApp.Models.Category
<h1>Create</h1>

<h4>Child Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateChild">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <select class="form-control" asp-for="ParentId" asp-items="ViewBag.ParentId">
                    <option disabled="" selected="">Select Category</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Child Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>