<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/AdminSite.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div class="container-fluid">
                <div class="row">
                    <!----Sidebar------>
                    <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                        <a href="#" class="navbar-nav text-white text-uppercase text-decoration-none mx-auto text-center mt-3 py-2 mb-4 bottom-border">PencilBox Training & Consultary</a>
                        <div class="bottom-border pb-3">
                            <img src="~/img/img.jpg" width="40" class="rounded-circle mr-2" />
                            <a href="#" class="text-center text-white">Md. Foridul Islam</a>
                        </div>
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fa fa-user-secret text-light fa-lg mr-3"></i>Dashboard</a></li>
                            <li class="nav-item"><a asp-controller="Products" asp-action="Index" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fab fa-product-hunt text-light fa-lg mr-3"></i>Products</a></li>
                            <li class="nav-item"><a asp-controller="Categories" asp-action="Index" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fa fa-sitemap text-light fa-lg mr-3"></i>Categories</a></li>
                            <li class="nav-item"><a asp-controller="Stocks" asp-action="Index" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fa fa-store text-light fa-lg mr-3"></i>Stocks</a></li>
                            <li class="nav-item"><a href="" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fab fa-jedi-order text-light fa-lg mr-3"></i>Orders</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fa fa-comments text-light fa-lg mr-3"></i>Comments</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fa fa-wrench text-light fa-lg mr-3"></i>Users</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fa fa-address-book text-light fa-lg mr-3"></i>Roles</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white mt-4 p-2 sidebar-link"><i class="fa fa-cogs text-light fa-lg mr-3"></i>Configurations</a></li>
                        </ul>
                    </div>

                    <!-----end of sidebar----->
                    <!---top-nav---->
                    <div class="col-xl-10 col-lg-9 ml-auto fixed-top py-2 top-nav top-navbar">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <h4 class="text-light pt-1 text-uppercase">Dashboard</h4>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control search-input" placeholder="Search" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-comments text-muted fa-lg"></i></a></li>
                                    <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-bell text-muted fa-lg"></i></a></li>
                                    <li class="nav-item ml-md-auto">
                                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                                            <i class="fas fa-sign-out-alt text-danger fa-lg"
                                               data-toggle="modal" data-target="#sign-out"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sign-out">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Want to leave?</h4>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        Please click on logout to leave!
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal">Stay Here</button>
                        <button type="button" class="btn btn-danger" asp-controller="Home" asp-action="Index">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="form-row">
            <div class="col-lg-8 m-auto">
                <div class="form-group pt-5 mt-3 mb-5">
                    <main role="main" class="pb-3">
                        <partial name="Common/_SuccessMessage" />
                        <partial name="Common/_ErrorMessage" />
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>