@model IEnumerable<eCommerceApp.Models.Product>
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        @{
            String img64 = Convert.ToBase64String(item.Image)
            ;
            String img64url = string.Format("data:Image/" + item.Image + ";base64,{0}", img64);
        }
        <img src="@img64url" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}