<div class="container-fluid">
    <div class="form-row d-flex pt-2 bg-dark text-white">
        <div class="col-4 pl-5 pt-1">
            <h4>eCommerceApplication</h4>
            <p class="text-wrap pl-4" style="width: 14rem;">
                This Web Application depeloped with ASP.NET
                Core With Entity Framework and C# language.There is no order will be delivered.
            </p>
            <div class="col-12">
            </div>
        </div>
        <div class="col-2 pt-4">
            <P class="text-wrap">
                Rupnagor Abashik, Mirpur-2, Dhaka-1216, Bangladesh.
            </P>
            <a href=""><i class="fas fa-phone-volume mr-1"></i>+8801738190538</a>
            <br />
            <a href=""><i class="fa fa-phone-alt mr-1"></i>+8801738190538</a>
        </div>
        <div class="col-3 pl-5 pt-2">
            <h6 class="pl-3">Links</h6>
            <ul class="text-justify footerNav">
                <li class="nav-link"><a href=""><i class="fas fa-user-friends pr-1"></i>About Us</a></li>
                <li class="nav-link"><a href=""><i class="fas fa-envelope pr-1"></i>Contact US</a></li>
                <li class="nav-link"><a href=""><i class="fas fa-wifi pr-1"></i>Blog</a></li>
                <li class="nav-link"><a href=""><i class="fas fa-user-tag pr-1"></i>Refund Policy</a></li>
                <li class="nav-link"><a href=""><i class="fas fa-user-shield pr-1"></i>Privacy Policy</a></li>
                <li class="nav-link"><a href=""><i class="fas fa-file-pdf pr-1"></i>Terms & Condition</a></li>
            </ul>
        </div>
        <div class="col-3 pl-5 pt-2">
            <h6 class="pl-3">Social Media</h6>
            <ul class="text-justify footerNav">
                <li class="nav-link"><a href=""><i class="fab fa-facebook pr-1"></i>Facebook</a></li>
                <li class="nav-link"><a href=""><i class="fab fa-twitter pr-1"></i>Twitter</a></li>
                <li class="nav-link"><a href=""><i class="fab fa-instagram pr-1"></i>Instagram</a></li>
                <li class="nav-link"><a href=""><i class="fab fa-linkedin pr-1"></i>Linkedin</a></li>
            </ul>
        </div>
    </div>
</div>