<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="" />
    <meta name="author" content="Md. Foridul Islam" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/popper.js/popper-utils.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    @RenderSectionAsync("Styles", required: false)
    <title>@ViewBag.Title Online eCommerce Web Application</title>
</head>
<body>
    <header id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-2">
            <a class="navbar-brand" href="#"><i class="fas fa-shopping-basket mr-1"></i>eCommerceApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home"> <i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-product-hunt pr-1"></i>Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" id="dropdownCategory" data-toggle="dropdown" href="#"><i class="fas fa-sitemap pr-1"></i>Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-search-plus pr-1"></i>Track my order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-action="Index"><i class="fas fa-sign-in-alt pr-1"></i>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt pr-1"></i>Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-cart-plus pr-1"></i>| 0</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/js/App.js"></script>
    <footer class="border-bottom">
        <partial name="_Footer" />
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>